$background: #000;
$gray-1: #0a0a0a;
$gray-2: #141414;
$gray-3: #262626;
$gray-4: #363636;
$gray-5: #585858;

$light-elements: #f4eee5;

$player-red: #e6194b;
$player-orange: #f58231;
$player-yellow: #ffe119;
$player-green: #3cb44b;
$player-cyan: #42d4f4;
$player-blue: #4363d8;
$player-purple: #911eb4;
$player-magenta: #f052e6;
